.hero-container {
    height: 32vh;
    background-color: #343a40; 
    color: white; 
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .hero-title {
    font-size: 50px;
    color: orange;
    text-align: center;
  }
  
  .hero-subtitle {
    font-size: 20px;
    margin-top: 10px; 
  }
  